* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}
.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


#board {
    background-image: url(images/backgroundimg.png);
    display: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;

}

#gameover {
    background-color: rgb(211, 210, 208);
    padding: 10px 50px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;

    h4 {
        color: yellowgreen;
    }

    #again {
        padding: 10px 20px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 12px;
        transition: 0.5s;
        cursor: pointer;
    }

    #again:active {
        transform: translateY(10px);
    }
}

#start {
    background-color: rgb(211, 210, 208);
    padding: 10px 50px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: absolute;

    h4 {
        color: yellowgreen;
    }

    #startgame {
        padding: 10px 20px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 12px;
        transition: 0.5s;
        margin: auto;
        display: block;
        cursor: pointer;
    }

    #startgame:active {
        transform: translateY(10px);
    }
}

#up {
    position: absolute;
    padding: 10px 20px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    margin: auto;
    display: block;
    cursor: pointer;
    font-weight: 800;
    bottom:20%;
    display: none;
}

#up:active {
    transform: translateY(10px);
}

@media (min-width : 310px) and (max-width : 598px) {
    #up{
        display: block;
    }
    #board{
        width: 80vw;
        height: 80vh;
    }
    }
@media (min-width : 599px) and (max-width : 877px) {
#up{
    display: block;
}
#board{
    width: 60vw;
    height: 60vh;
}
}
